---
title: Our Process
layout: about
excerpt: InnoCellence is a digital service provider - we believe in leveraging innovative design and technology to create digital products that improve the lives of Patients and Healthcare Professionals.
ref: about
redirect_from:
  - /d/en/about/
---
 
<section id="process" data-title="Our Process" class="section bg--white">
  <div class="section__i">
    <h2 class="area w--16 g__b heading heading--super fade-c-below">Our Process</h2>
    <div class="area w--6 w__sm--16 g__l g__l--sm m__t fade-e-below">
      <h2 class="heading e">01 Discover</h2>
      <p class="bullet e">We conduct extensive independent market research to understand your business challenges — and how to solve them.</p>
    </div> 
    <div id="discover" class="area w--8 g__l chart hide--sm">
      <div class="notes">
        <p>Planning</p>
        <p>Research</p>
        <p>Ideation</p>
      </div> 
      <div class="flow"><div class="mask"></div></div> 
    </div>
    <div class="area w--6 w__sm--16 g__l g__l--sm m__t fade-e-below">
      <h2 class="heading e">02 Design</h2>
      <p class="bullet e">We deliver a seamless and enjoyable user experience through innovative design and advanced technical architecture.</p>
    </div>
    <div id="design" class="area w--8 g__l chart hide--sm">
      <div class="notes">
        <p>Experience Design</p>
        <p>Prototyping</p>
      </div> 
      <div class="flow"><div class="mask"></div></div> 
    </div>
    <div class="area w--6 w__sm--16 g__l g__l--sm m__t fade-e-below">
      <h2 class="heading e">03 Iterate</h2>
      <p class="bullet e">We utilize an agile and iterative approach that enables us to review, validate, and deliver a fantastic user experience (UX).</p>
    </div>
    <div id="iterate" class="area w--8 g__l chart hide--sm">
      <div class="notes">
        <p>User Testing</p>
        <p>Interface Design</p>
        <p>System Architecture</p>
      </div> 
      <div class="flow"><div class="mask"></div>
        <div class="pie">
          <div class="pie-r"><div class="inner"></div></div>
          <div class="pie-l"><div class="inner"></div></div>
          <div class="triangle"></div>
        </div>
      </div> 
    </div>
    <div class="area w--6 w__sm--16 g__l g__l--sm m__t fade-e-below">
      <h2 class="heading e">04 Develop</h2>
      <p class="bullet e">We will develop a final deliverable and showcase it once it has undergone a thorough quality assurance check.</p>
    </div>
    <div id="develop" class="area w--8 g__l chart hide--sm">
      <div class="notes">
        <p>Engineering</p>
        <p>Quality Assurance</p>
      </div> 
      <div class="flow"><div class="mask"></div></div> 
    </div>
    <div class="area w--6 w__sm--16 g__l g__l--sm m__t fade-e-below">
      <h2 class="heading e">05 Deploy</h2>
      <p class="bullet e">We will never launch a product that is either below our high standards of quality or delivers a sub-par user experience.</p>
    </div>
    <div id="deploy" class="area w--8 g__l chart hide--sm">
      <div class="notes">
        <p>Support</p>
        <p>Feedback</p>
        <p>New Ideas</p>
      </div> 
      <div class="flow"><div class="mask"></div></div> 
    </div>
  </div>
  {% include section__bottom.html %}
</section>  
 
<section id="lab" data-title="Our Innovation Lab" class="section fade-e-below">
  <div class="section__i"> 
    <div class="area w--16">
      <h4 class="area w--16 c--red">Our Innovation Lab</h4>
      <h2 class="area w--6 w__xl--10 w__sm--16 heading e">Collaborative innovation with speed and agility.</h2>
    </div>
    <p class="area w--4  w__xl--7 w__lg--10 w__sm--16 g__r bullet e">Launched in 2013, our China-based lab covers the full innovation lifecycle.</p>
    <p class="area w--4  w__xl--7 w__lg--10 w__sm--16 g__r bullet e">We test exisiting, new and competative products, providing user insight and informing design.</p>
    <p class="area w--4  w__xl--7 w__lg--10 w__sm--16 bullet e">In-house UX Designers, Analysts, Consultants and Technical SMEs collaborate together.</p>
    <img class="w--20 o--right o--left e" src="{{ site.baseurl }}/assets/img/about/lab_illustration.svg">
  </div>
</section>

{% include call.html %}