---
title: Contact
layout: contact
ref: contact
redirect_from:
  - /d/en/contact/
---
<section id="contact" data-title="Contact us" class="section bg--white fade-e-below">
  <div class="section__i"> 
    <div class="area w--16">
      <h4 class="heading e">New Business:</h4>
      <h1 class="heading e"><a href="mailto:info@innocellence.com">info@innocellence.com</a></h1>
    </div>
    <div class="area m__t g__b w--16">
      <h4 class="heading e">Join the Team:</h4>
      <h1 class="heading e"><a href="mailto:careers@innocellence.com">careers@innocellence.com</a></h1>
    </div>
  </div>
  {% include section__bottom.html %}
</section>
<section id="locations" class="section fade-e-below"> 
  <div class="section__i"> 
    <h4 class="area w--16 heading e">Our Locations</h4> 
    <div class="w--16 grid grid--3 grid--gap">
      {% for i in site.data.locations[page.lang] %}
      <div class="card t e">
        <div class="card__content">
          <h3 class="heading">{{ i.country }} <span id="{{ i.time }}"></span></h3>
          <p>{{ i.address }}</p>
        </div>
        <div class="card__footer">
          <p><i class="icon" data-icon="phone"></i> {{ i.phone }}</p>
        </div>
      </div>
      {% endfor %}
    </div> 
  </div>
</section>