---
title: What we do
layout: services
menu: initialize
ref: services
redirect_from:
  - /d/en/capabilities/
  - /d/en/capabilities/index.html
  - /d/en/capabilities/digital_consultation.html
  - /d/en/capabilities/design_user_experience.html
  - /d/en/capabilities/rapid_prototyping.html
  - /d/en/capabilities/mobile_solutions.html
  - /d/en/capabilities/customer_insights_analytics.html
  - /d/en/capabilities/website_application_development.html
---

<section id="our-services" data-title="Our Services" class="section bg--white fade-e-below">
  <div class="section__i g__b"> 
    <h2 class="heading heading--super g__b e">Our Services.</h2>
    <div class="w--16 grid grid--3">
      {% for i in site.data.services[page.lang] %}
      <div class="card centered t e">
        <a style="width: 100%;max-width: 200px;" href="{{ i.url | prepend: '#' }}">
          <img class="fluid" src="{{ site.baseurl }}/assets/img/icons/{{ i.img }}">
        </a>
        <p><a href="{{ i.url | prepend: '#' }}">{{ i.text }}</a></p>
      </div>
      {% endfor %}
    </div>
  </div>
  {% include section__bottom.html %}
</section>


<section id="innovation-consulting" data-title="Innovation Consulting"  class="section fade-e-below">
  <div class="section__i"> 
    <div class="area m__b">
      <h3 class="w--16 heading c--red e">Innovation Consulting</h3>  
      <h2 class="w--10 w__lg--16 heading e">Our approach to innovation underpins the products
  we&nbsp;build.</h2>
    </div>
    <div class="area w--7 w__xl--9 w__lg--16 m__b g__r g__r--lg">
      <p class="bullet e">We analyze the threat of competiton, evaluate industry trends, identify strategic opportunities, and develop targeted POC’s, to ensure we deliver digitally innovative solutions that transform businesses.</p>
      <p><a href="{{ site.baseurl }}/about/#process" class="button button--primary e"><span>Our process</span></a><a href="{{ site.baseurl }}/about/#lab" class="button button--primary e"><span>Our innovation lab</span></a></p>
    </div>
    <div class="area w--12 w__xl--10 w__lg--16 o--right--4 g__r--lg tail e">
      <img class="fluid" src="{{ site.baseurl }}/assets/img/services/innovationConsulting.svg">  
    </div>
    <div class="area w--16">
      <div class="grid grid--4 g__b">
        {% for i in site.data.innovation_consulting[page.lang] %}
        <div class="card centered t e">
          <img class="" src="{{ site.baseurl }}/assets/img/icons/{{ i.img }}">
          <p>{{ i.text }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% include section__bottom.html color="white" %}
</section>

<section id="application-development" data-title="Application Development" class="section bg--white">
  <div class="section__i fade-e-below">
    <div class="area g__t w--6 w__lg--8 w__sm--16">
      <h3 class="w--16 heading c--red e">Web Development</h3>
      <h2 class="area heading e">We build beautifully designed, mobile-ready websites.</h2>    
      <p class="bullet e">Deliver consistent and intuative experiences across multiple devices with responsive design.</p>
      <p class="bullet e">Increase brand awareness and outrank competitors online with advanced SEO.</p>
      <p class="bullet e">Improve productivity by storing data in a cost-effective Content Management System (CMS).</p>
      <p class="area w--16"><a href="#" class="e"><i class="icon" data-icon="play_circle_outline"></i> Watch web design video</a></p>
    </div>
    <div class="area m__t w--12 w__lg--10 w__sm--16 tail o--right--4 g__r--sm">
      <div class="html-embed e"> 
        <video autoplay muted loop width="100%" height="auto">
          <source src="{{ site.baseurl }}/assets/video/website_32.mp4" type="video/mp4">
          <p>Your browser does not support the video element.</p>
        </video>
      </div>
    </div>
  </div>
</section>
  
<section id="technology-stack" class="section fade-e-below bg--white">
  <div class="section__i">
    <div class="area w--16 g__t">
      <h3 class="w--16 heading c--red e">Our Technology Stack</h3> 
      <h2 class="area w--8 heading e">We support the industry’s most popular platforms and frameworks.</h2>
    </div>
    <div class="area w--16 g__t g__b table-list">
      {% for stack in site.data.stacks.en %}
      <ul class="table-list__column e">
        <li class="column__header">{{ stack.name }}</li>
        {% for item in stack.items %}<li>{{ item }}</li>{% endfor %}
      </ul>
      {% endfor %}
    </div>
    <p class="area w--16"><a href="https://stackshare.io/innocellence" class="button button--primary e"><span>View full stack</span></a></p>
  </div>  
</section>
  
<!--
  <div class="section__i g__b swiper carousel swiper-container">
    <div class="swiper-pagination e"></div> 
    <div class="swiper-wrapper">
      {% assign p = site.data.partners %}
      {% for i in p %}
      <div class="swiper-slide e">
        <div class="slide__i">
          <a href="{{ i.url }}" class="card t centered">
            <img title="{{ i.name }}" src="{{ site.baseurl }}/assets/img/services/partners/{{ i.img }}.jpg">
            {% if i.text %}<p class="small">{{ i.text }}</p>{% endif %}
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
      
    <div class="swiper-button-prev e"></div>
    <div class="swiper-button-next e"></div>
  </div>
-->

<section id="mobile-apps" class="section bg--white">
  <div class="section__i fade-e-below">
    <div class="area g__t g__b w--6 w__lg--8 w__sm--16">
      <h3 class="w--16 heading c--red e">Mobile Apps</h3>
      <h2 class="area heading e">User-friendly mobile applications.</h2>    
      <p class="bullet e">Increase connectivity, reaching more users with multi-channel products and services.</p>
      <p class="bullet e">Digitize your content, tailoring messaging for the right audience to improve engagement.</p>
      <p class="bullet e">Leverage platform-specific technologies such as AR, wearables and machine learning.</p>
    </div>
    <div class="area m__t w--12 w__lg--10 w__sm--16 tail o--right--4 g__r--sm">
      <div class="html-embed e"> 
        <video autoplay muted loop width="100%" height="auto">
          <source src="{{ site.baseurl }}/assets/video/website_32.mp4" type="video/mp4">
          <p>Your browser does not support the video element.</p>
        </video>
      </div>
    </div>
  </div>
  {% include section__bottom.html %}
</section>

<section id="design-ux" data-title="Design & UX" class="section">
  <div class="section__i fade-e-below">
    <div class="area w--16 g__t">
      <h3 class="w--16 heading c--red e">Design &amp; UX</h3> 
      <h2 class="area w--9 w__lg--16 heading e">We merge business strategy with design, because good design is good business.</h2>
    </div>
     
    <div class="area g__t w--6 w__lg--8 w__sm--16">
      <p class="bullet e">Increase connectivity, reaching more users with multi-channel products and services.</p>
      <p class="bullet e">Digitize your content, tailoring messaging for the right audience to improve engagement.</p>
      <p class="bullet e">Leverage platform-specific technologies such as AR, wearables and machine learning.</p>
    </div>
    <div class="area m__t w--12 w__lg--10 w__sm--16 tail o--right--4 g__r--sm">
      <div class="html-embed e"> 
        <video autoplay muted loop width="100%" height="auto">
          <source src="{{ site.baseurl }}/assets/video/website_32.mp4" type="video/mp4">
          <p>Your browser does not support the video element.</p>
        </video>
      </div>
    </div>
        <div class="area w--16">
      <div class="grid grid--5 g__b">
        {% for i in site.data.design_ux[page.lang] %}
        <div class="card centered t e">
          <img class="" src="{{ site.baseurl }}/assets/img/icons/{{ i.img }}">
          <p>{{ i.text }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% include section__bottom.html %}
</section>

{% include call.html %}