---
title: 問い合わせ
layout: contact
ref: contact
redirect_from:
  - /d/jp/contact/
---

<section id="contact" class="section g fade-e-below">
  <div class="grid g"> 
    <div class="grid__quart g__b">
      <h3 class="heading e">当社のサービスに関するお問い合わせ:</h3>
      <h1 class="heading e"><a href="mailto:info@innocellence.com">info@innocellence.com</a></h1>
      <h3 class="heading e">採用に関するお問い合わせ:</h3>
      <h1 class="heading e"><a href="mailto:careers@innocellence.com">careers@innocellence.com</a></h1>
    </div>
  </div>
  {% include section__bottom.html color="white" %}
</section>
<section id="locations" class="section bg--white fade-e-below"> 
  <div class="container g"> 
    <h3 class="heading e">事業所</h3> 
    <div class="cards left">
      <div class="card text fluid e">
        <div class="card__content">
          <h3 class="heading">シンガポール <span id="sgTime"></span></h3>
          <p>InnoCellence Systems Pte. Ltd.<br>
          24 Peck Seah Street #05-01,<br>
          Singapore, 079314.</p>
        </div>
        <div class="card__footer">
          <p><i class="icon" data-icon="phone"></i> +65 62226959</p>
        </div>
      </div>
      <div class="card text fluid e">
        <div class="card__content">
          <h3 class="heading">大连 <span id="dlTime"></span></h3>
          <p>InnoCellence Dalian<br>
            大连高新园区<br>
            汇贤园区<br>
            7号腾飞软件园<br>
            2号11-05</p>
        </div>
        <div class="card__footer">
          <p><i class="icon" data-icon="phone"></i> +86-411-6683-8010</p>
        </div> 
      </div>
      <div class="card text fluid e">
        <div class="card__content">
          <h3 class="heading">東京 <span id="jpTime"></span></h3>
          <p>InnoCellence Systems Japan, K.K.<br>
            〒163-1030<br>
            東京都新宿区西新宿3-7-1<br>
            新宿パークタワーＮ棟30階</p>
        </div>
        <div class="card__footer">
          <p><i class="icon" data-icon="phone"></i> +81 (0)3-5326-3124</p>
        </div> 
      </div>
    </div> 
  </div>
  {% include section__bottom.html %}
</section>