<!-- #masthead -->
<div class="triggers">
  <a id="trigger_masthead"></a>
  <a id="trigger_menu"></a>
</div>
<header class="masthead fade-c-below fade-e-below">
  <div class="masthead__panel masthead__panel--one">
    <div class="masthead__container">
      <div class="masthead__line heading heading--super e">{% if page.lang == 'zh' %}我们设计和开发的数字解决方案助力企业获得成功。{% else %}We design and develop the digital solutions companies need to succeed.{% endif %}</div>
    </div>
  </div>
  <div class="masthead__panel masthead__panel--two">
    <div class="masthead__container">
      <div class="masthead__line heading heading--super">{% if page.lang == 'zh' %}我们设计和开发的数字解决方案助力企业获得成功。{% else %}We design and develop the digital solutions companies need to succeed.{% endif %}</div>
    </div>
  </div>
  {% include section__bottom.html %}
</header>