<!-- #masthead -->
<!--
<div class="triggers">
  <a id="trigger_masthead"></a>
  <a id="trigger_menu"></a>
</div>
-->
{% assign meta = site.data.meta[page.lang] %}  
<header id="masthead" data-title="{{ meta.byline }}" class="masthead">
  <div class="masthead__panel masthead__panel--bottom">
    <div class="masthead__container">
      <div class="masthead__line heading heading--super" data-splitting>{% if page.lang == 'zh' %}我们设计和开发公司成功所需的数字解决方案。{% else %}We design and develop the digital solutions companies need to succeed.{% endif %}</div>
    </div>
  </div>
  <div class="masthead__panel masthead__panel--top">
    <div class="masthead__container">
      <div class="masthead__line heading heading--super"  data-splitting>{% if page.lang == 'zh' %}我们设计和开发公司成功所需的数字解决方案。{% else %}We design and develop the digital solutions companies need to succeed.{% endif %}</div>
    </div>
  </div>
  <div class="link"><a href="#agile" class="button button--primary"><span>Here's how we do it <i class="icon" data-icon="arrow_forward"></i></span></a></div>
  {% include section__bottom.html %}
</header>