---
title: 关于我们
layout: about
excerpt: XXXXXXXXXXX InnoCellence is a digital service provider - we believe in leveraging innovative design and technology to create digital products that improve the lives of Patients and Healthcare Professionals.
ref: about
redirect_from:
  - /d/cn/about/
--- 
<section id="process" data-title="专业流程" class="section bg--white">
  <div class="section__i">
    <h2 class="area w--16 g__b heading heading--super fade-c-below">专业流程。</h2>
    <div class="area w--6 w__sm--16 g__l g__l--sm m__t fade-e-below">
      <h2 class="heading e">01 探索</h2>
      <p class="bullet e">进行大量市场调研，挖掘业务痛点，寻找解决方法。</p>
    </div> 
    <div id="discover" class="area w--8 g__l chart hide--sm">
      <div class="notes">
        <p>Planning</p>
        <p>Research</p>
        <p>Ideation</p>
      </div> 
      <div class="flow"><div class="mask"></div></div> 
    </div>
    <div class="area w--6 w__sm--16 g__l g__l--sm m__t fade-e-below">
      <h2 class="heading e">02 设计</h2>
      <p class="bullet e">无缝结合创新的设计和先进的技术架构，创造优质用户体验。</p>
    </div>
    <div id="design" class="area w--8 g__l chart hide--sm">
      <div class="notes">
        <p>Experience Design</p>
        <p>Prototyping</p>
      </div> 
      <div class="flow"><div class="mask"></div></div> 
    </div>
    <div class="area w--6 w__sm--16 g__l g__l--sm m__t fade-e-below">
      <h2 class="heading e">03 设计</h2>
      <p class="bullet e">敏捷开发和迭代开发的工作方式，反复验证确保完美的用户体验。</p>
    </div>
    <div id="iterate" class="area w--8 g__l chart hide--sm">
      <div class="notes">
        <p>User Testing</p>
        <p>Interface Design</p>
        <p>System Architecture</p>
      </div> 
      <div class="flow"><div class="mask"></div>
        <div class="pie">
          <div class="pie-r"><div class="inner"></div></div>
          <div class="pie-l"><div class="inner"></div></div>
          <div class="triangle"></div>
        </div>
      </div> 
    </div>
    <div class="area w--6 w__sm--16 g__l g__l--sm m__t fade-e-below">
      <h2 class="heading e">04 开发</h2>
      <p class="bullet e">多重和彻底的质量检验程序保障最终交付物并展现成果物。</p>
    </div>
    <div id="develop" class="area w--8 g__l chart hide--sm">
      <div class="notes">
        <p>Engineering</p>
        <p>Quality Assurance</p>
      </div> 
      <div class="flow"><div class="mask"></div></div> 
    </div>
    <div class="area w--6 w__sm--16 g__l g__l--sm m__t fade-e-below">
      <h2 class="heading e">05 交付</h2>
      <p class="bullet e">拒绝发布劣质的产品和粗糙的用户体验。</p>
    </div>
    <div id="deploy" class="area w--8 g__l chart hide--sm">
      <div class="notes">
        <p>Support</p>
        <p>Feedback</p>
        <p>New Ideas</p>
      </div> 
      <div class="flow"><div class="mask"></div></div> 
    </div>
  </div>
  {% include section__bottom.html %}
</section>  

{% include call.html %}