---
title: 首页
byline: 致力于卓越的数字化创新
layout: home
ref: home
redirect_from: 
  - /d/cn/
---

<section id="about" data-title="关于我们" class="section fade-e-below">
  <div class="section__i">
    <div class="area w--16">
      <h2 class="heading e">关于我们。</h2>   
      <p class="area w--6 w__xl--10 w__lg--10 w__sm--16 bullet e">英诺瑞新是数字服务专家，融合创意与数字技术为满足客户在全球市场上的产品需求。</p>
    </div>
    <div class="area w--10 w__xl--16 tail m__t">
      <div class="grid grid--3">
        {% for i in site.data.snapshot[page.lang] %}
        <div class="card centered t e">
          <img class="" src="{{ site.baseurl }}/assets/img/icons/{{ i.img }}">
          <p>{{ i.text }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section id="agile" data-title="敏锐，协作，坚定"  class="section fade-e-below">
  <div class="section__i"> 
    <h2 class="area w--16 heading e">敏锐，协作，坚定。</h2> 
    <div class="area w--6 w__xl--10 w__sm--16 m__b">
      <p class="bullet e">我们相信数字产品的设计与研发蕴含着改变生活的美好力量。</p>
      <p class="e"><a href="{{ site.baseurl }}/cn/about/" class="button button--primary e"><span>了解更多</span></a></p>
    </div>
    <div class="area w--14 w__lg--20 o--right--4 tail e">
      <svg viewBox="0 0 1011 510" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="lasers" stroke="#EF4B46" stroke-width="3" stroke-dasharray="78" stroke-linecap="round" stroke-linejoin="round">
          <g id="lasers" transform="translate(143.000000, 0.000000)">
              <path d="M1.5,55.5 L1.5,2.20240493e-13" id="beam"></path>
              <path d="M185.5,145.5 L185.5,39.5" id="beam-1"></path>
              <path d="M313.5,202.5 L313.5,23.5" id="beam-2"></path>
              <path d="M505.5,92.5 L505.5,3.30402372e-13" id="beam-3"></path>
              <path d="M684.5,145 L684.5,23.5" id="beam-4"></path>
          </g>
        </g>
      </svg>
      <img class="fluid" src="{{ site.baseurl }}/assets/img/home/agile.svg">  
    </div>
  </div>
  {% include section__bottom.html color="white" %}
</section>

<section id="trusted" data-title="最好的信任来自优秀的客户" class="section fade-e-below bg--white">
  <div class="section__i">  
    <div class="area w--16">
      <h2 class="heading e">最好的信任来自优秀的客户。</h2> 
    </div>
    <p class="area w--6  w__xl--7 w__lg--10 w__sm--16 g__r g__r--lg bullet e">为全球500强企业提供的服务，让我们赢得了荣誉与奖项，而最重要的是客户的信赖。</p>
    <p class="area w--6 w__xl--7 w__lg--10 w__sm--16 g__l g__l--lg bullet e">从市场调研，到后期维护，以及过程中的一切，我们致力于为您打造一站式体验闭环服务。</p>
  </div>
</section>

<section id="stories" class="section fade-e-below bg--white">
  <div class="section__i g__b swiper swiper-container">
    <div class="swiper-pagination e"></div> 
    <div class="swiper-wrapper">
      {% for i in site.data.stories[page.lang] %}
      <div class="swiper-slide e">
        <div class="slide__i w--14">
          <div class="slide__content">
            <h2>{{ i.title }}</h2>
            {% if i.content %}<p>{{ i.content }}</p>{% endif %}
            {% if i.footnote %}<p class="footnote">{{ i.footnote }}</p>{% endif %}
          </div>
          <div class="slide__image">
            {% if i.bg %}
            <img class="background" src="{{ site.baseurl }}/assets/img/home/stories/bg/{{ i.bg }}">
            <img class="graphic" src="{{ site.baseurl }}/assets/img/home/stories/{{ i.image }}">
            {% else %}
            <div class="background" style="background-color:#{{ i.color }};"></div>
            <img class="graphic" src="{{ site.baseurl }}/assets/img/home/stories/{{ i.image }}">
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="swiper-button-prev e"></div>
    <div class="swiper-button-next e"></div>
  </div>
</section>

<section id="services" class="section fade-e-below bg--white">
  <div class="section__i"> 
    <h2 class="heading e">Our service offering.</h2>   
    <div class="w--16 grid grid--5">
      {% for i in site.data.services[page.lang] %}
      <div class="card centered t e">
        <img class="" src="{{ site.baseurl }}/assets/img/icons/{{ i.img }}">
        <p>{{ i.text }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="team" data-title="专业团队，触及全球" class="section fade-e-below bg--white">
  <div class="section__i"> 
    <div class="area w--16">
      <h2 class="area w--6 w__xl--16 heading e">XXXX专业团队，触及全球。</h2> 
      <p class="area w--6 w__xl--8 w__lg--10 w__sm--16 bullet e">Our Digital SMEs, Engineers, Designers and Project Managers provide expertise to build solutions from ideation to implementation.</p>
    </div>
    <div class="area w--6 w__xl--8 w__lg--10 w__sm--16 m__t">
      <p class="bullet e">InnoCellence is headquartered in Singapore with offices in China and Japan.</p>
      <p class="e"><a href="{{ site.baseurl }}/cn/contact/" class="button button--primary e"><span>联系我们</span></a></p>
    </div>
    <div class="area w--8 w__lg--10 w__sm--16 tail e">
      <svg viewBox="0 0 648 414" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path fill="none" stroke-linecap="round" stroke="#EF4B46" stroke-width="3" d="M253.185002,187 C268.070205,87.3206364 289.287227,28.1875449 316.836068,9.60072564 C344.38491,-8.98609363 372.163838,19.6700827 400.172854,95.5692546" id="beam"></path>
      </svg>  
      <img class="fluid" src="{{ site.baseurl }}/assets/img/home/reach.svg">
    </div>
  </div>
  {% include section__bottom.html %}
</section>

{% include call.html %}