///////////
// Cursor
///////////

@media only screen and (min-width: $screen_md + 1px) {
  .cursor {
    position: absolute;
    border: 1px solid transparentize($black, .9);
    border-radius:100%;
    cursor:none;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1011;
    transform: scale(1) translate3d(-50%, -50%, 0);
    transition: all .2s $base_motion;
    pointer-events: none;
  }

  // Active Cursor
  .cursor.active{
    background: transparentize($black, .9);
    border-color: transparent;
    transform: scale(1.4) translate3d(-50%, -50%, 0);
  }
}