/*//////////////*/
/* Proxima Nova */
/*//////////////*/

//@font-face {
//    font-family: 'ProximaNova';
//    src: url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_bold_it.eot');
//    src: url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_bold_it.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_bold_it.woff2') format('woff2'),
//         url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_bold_it.woff') format('woff');
//    font-weight: bold;
//    font-style: italic;
//}

//@font-face {
//    font-family: 'ProximaNova';
//    src: url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_bold.eot');
//    src: url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_bold.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_bold.woff2') format('woff2'),
//         url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_bold.woff') format('woff');
//    font-weight: bold;
//    font-style: normal;
//}

//@font-face {
//    font-family: 'ProximaNova';
//    src: url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_it.eot');
//    src: url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_it.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_it.woff2') format('woff2'),
//         url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_it.woff') format('woff');
//    font-weight: normal;
//    font-style: italic;
//}

//@font-face {
//    font-family: 'ProximaNova';
//    src: url('../fonts/ProximaNova/mark_simonson_-_proxima_nova.eot');
//    src: url('../fonts/ProximaNova/mark_simonson_-_proxima_nova.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/ProximaNova/mark_simonson_-_proxima_nova.woff2') format('woff2'),
//         url('../fonts/ProximaNova/mark_simonson_-_proxima_nova.woff') format('woff');
//    font-weight: normal;
//    font-style: normal;
//}



/*///////////*/
/* Alternate */
/*///////////*/

@font-face {
    font-family: 'ProximaNova Alt';
    src: url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_a_bold_it.eot');
    src: url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_a_bold_it.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_a_bold_it.woff2') format('woff2'),
         url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_a_bold_it.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNova Alt';
    src: url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_a_bold.eot');
    src: url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_a_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_a_bold.woff2') format('woff2'),
         url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_a_bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova Alt';
    src: url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_a_it.eot');
    src: url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_a_it.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_a_it.woff2') format('woff2'),
         url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_a_it.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNova Alt';
    src: url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_a.eot');
    src: url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_a.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_a.woff2') format('woff2'),
         url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_a.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}