///////////
// Mobile Check
///////////

.mobile {
  display: none;
}
@media only screen and (max-width: $screen_xl) {
  .mobile {
    display: block;
  }
}


///////////
// Resize Overlay
///////////

.resize {
  &__overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $margin;
    background: #2D2D2D;
    z-index: 1002;
  }
  &__content {
    color: $white;
    max-width: 400px;
    text-align: center;
  }
  
}


///////////
// Reset
///////////

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font: normal normal #{$base_font_size} / #{$base_line_height} $base_font_family;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: $sky;
  
  @media only screen and (max-width: $screen_md) {
    font-size: $base-font-size - 2px;
  }
}

// Prevent Overflow
.no_overflow {
  overflow: hidden;
  
  @media only screen and (max-width: $screen_lg) {
    overflow: auto;
  }
}

// Box Sizing
* {
  box-sizing: border-box;
}

// Type Select
::selection {
  color: $red;
  background: transparentize($grey, .8);
}
::-moz-selection {
  color: $red;
  background: transparentize($grey, .8);
}


///////////
// Headings
///////////

.heading {
  font-weight: bold;
}

.heading, h1, h2, h3, h4, h5, h6 {
  line-height: $heading_line_height;
  margin: $margin_lg 0;
  
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  + h1, + h2, + h3, + h4, + h5, + h6  {
    margin-top: $margin_lg;
  }
}

h1, h2 {
  font-size: $typo_hawk;
}
.heading--super {
  font-size: $typo_ostrich;
  line-height: 1;
  letter-spacing: -.005em;
  
  @media only screen and (min-width: $screen_xxl + 1px) {
    font-size: 6.5rem;
  }
  @media only screen and (max-width: $screen_lg) {
    font-size: 5rem;
  }
  @media only screen and (max-width: $screen_md) {
    font-size: 4rem;
  }
  @media only screen and (max-width: $screen_sm) {
    font-size: $typo_albatros;
    line-height: $heading_line_height;
  }
}

h3, h4, h5, h6 {
  font-size: $typo_crow;
}


///////////
// Paragraphs
///////////

p {
  margin: $margin_lg 0;
  
  // Remove 
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  // Bullet Styles
  &.bullet {
    position: relative;

    &:before {
      position: absolute;
      content: '';
      margin-left: -1.8rem;
      width: .8rem;
      display: inline-block;
      height: 1px;
      border-top: 1px solid $red;
      top: .8rem;
      
      @media only screen and (max-width: $screen_lg) {
        margin-left: -1.2rem;
        width: .6rem;
      }
      @media only screen and (max-width: $screen_md) {
        display: none;
      }
    }
    

    // Inverted 
    &.inverted {
      &:before {
        border-color: $white;
      }
    }
  }
  
  // Reset icons inside <p>
  .icon {
    line-height: 1;
  }
}



///////////
// Body Links
///////////

main, footer, .link {
  
  // Don't target buttons
  a:not(.button):not(.card) {
    position: relative;
    text-decoration: none;
    color: $blue;
    font-weight: inherit;
    transition: all $base_duration $base_motion;

    // Underline
    &:before {
      position: absolute;
      content: '';
      height: .3em;
      width: 100%;
      top: calc(50% + .15em);
      left: 0;
      background: transparent;
      transform: scale3d(0,1,1);
      transform-origin: left;
      transition: all $base_duration $base_motion;
    }

    // Hover Effects
    &:hover {
      color: $blue;

      &:before {
        background: transparentize($blue, .8);
        transform: scale3d(1,1,1);
        transition: all $base_duration $base_motion;
      }
    }
  }
  // Target External Links
  a:not(.button):not(.card).ext {
    &:after {
      content: ' open_in_new';
      font-family: $icon;
      line-height: 1;
      font-size: inherit;
      vertical-align: baseline;
      font-feature-settings: 'liga';
    }
    &.button:after {
      margin-left: $margin_sm;
    }
  }
}


///////////
// Lists
///////////

ul, ol {
  margin: $margin_lg 0;
  padding-left: $margin_lg;
  
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

// After p
p + ul, 
p + ol {
  margin-top: $base_line_height * 1rem;
} 

// Unordered
main ul {
  list-style: none;
  
  li::before {
    content: "-";
    color: $red;
    display: inline-block;
    width: 1em;
    margin-left: -1em
  }
}

// Table List
.table-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  font-size: $typo_sparrow;
  
  &__column {
    width: 150px;
    margin: 0;
    padding: 0;
    margin-right: $gutter;
    list-style: none;
  }
  li {
    padding: $margin_sm 0;
    border-bottom: 1px solid transparentize($grey, .5);
    
    &:before {
      content: '';
      display: none;
    }
  }
  .column__header {
    font-weight: bold;
    border-bottom: 2px solid $base_font_color;
  }
}


///////////
// Blockquote
///////////

blockquote {
  margin: $margin_lg $gutter;
  border-left: 2px solid $red;
  padding-left: $margin_lg;
  
  .author {
    font-size: $typo_sparrow;
    color: $red;
  }
}


///////////
// Inline Styles
///////////

strong {
  font-weight: bold;
}

.small, small {
  font-size: $typo_hummingbird;
}

sup {
  font-size: $typo_crow;
}

///////////
// Images
///////////

img {
  max-width: 100%;
}
img.fluid {
  width: 100%;
}


///////////
// Horizontal Rule
///////////

hr {
  margin: $gutter 0;
  height: 1px;
  border: none;
  border-bottom: 1px solid darken($sky, 10%);
}


///////////
// Visibility
///////////

.hide {
  display: none !important;
  
  // XX-Large Screens < 1600px
  @media only screen and (max-width: $screen_xxl) {
    &--xxl {
      display: none !important;
    }
  }
  // X-Large Screens < 1280px
  @media only screen and (max-width: $screen_xl) {
    &--xl {
      display: none !important;
    }
  }
  // Large Screens < 1024px
  @media only screen and (max-width: $screen_lg) {
    &--lg {
      display: none !important;
    }
  }
  // Medium Screens < 900px
  @media only screen and (max-width: $screen_md) {
    &--md {
      display: none !important;
    }
  }
  // Small Screens < 768px
  @media only screen and (max-width: $screen_sm) {
    &--sm {
      display: none !important;
    }
  }
  // Mini Screens < 425px
  @media only screen and (max-width: $screen_mi) {
    &--mi {
      display: none !important;
    }
  }
  
}

.show {
  display: block !important;
  
  // XX-Large Screens < 1600px
  @media only screen and (max-width: $screen_xxl) {
    &--xxl {
      display: block !important;
    }
  }
  // X-Large Screens < 1280px
  @media only screen and (max-width: $screen_xl) {
    &--xl {
      display: block !important;
    }
  }
  // Large Screens < 1024px
  @media only screen and (max-width: $screen_lg) {
    &--lg {
      display: block !important;
    }
  }
  // Medium Screens < 900px
  @media only screen and (max-width: $screen_md) {
    &--md {
      display: block !important;
    }
  }
  // Small Screens < 768px
  @media only screen and (max-width: $screen_sm) {
    &--sm {
      display: block !important;
    }
  }
  // Mini Screens < 425px
  @media only screen and (max-width: $screen_mi) {
    &--mi {
      display: block !important;
    }
  }
  
}