///////////
// Devices
///////////

$screen_xxl   : 1600px;
$screen_xl    : 1280px;
$screen_lg    : 1024px;
$screen_md    : 900px;
$screen_sm    : 768px;
$screen_mi    : 425px;


///////////
// Type System
///////////

$base_font_family : "ProximaNova Alt", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$icon             : 'Material Icons';


///////////
// Color
///////////

$black    : #1D202B;
$grey     : dimgrey;
$white    : #FFFFFF;
$red      : #EF4B46;
$blue     : #375EB4;
$sky      : #F8F9FC;


///////////
// Font Settings
///////////

$base_font_size       : 18px;
$base_line_height     : 1.6;
$heading_line_height  : 1.25;
$base_font_color      : $black;


///////////
// Font Size
///////////

$typo_ostrich     : 7.5vw;
$typo_albatros    : 2.5rem;
$typo_eagle       : 2rem;
$typo_hawk        : 1.75rem;
$typo_crow        : 1rem;
$typo_sparrow     : .875rem;
$typo_hummingbird : .75rem;


///////////
// Animation
///////////

$base_duration    : 650ms;
$base_motion      : cubic-bezier(0.19, 1, 0.22, 1);


///////////
// Margin
///////////

$margin        : 1rem;
$margin_sm     : $margin * .5;
$margin_lg     : $margin * 1.5;


///////////
// Radius
///////////

$radius        : 1rem;
$radius_sm     : $radius / 3;


///////////
// Padding
///////////

$padding_sm    : .45rem; 
$padding_lg    : .7rem;  


///////////
// Gutters & Gaps
///////////

$gutter        : 3rem;
$gutter_lg     : 4.5rem;
$gap           : 5vw;


///////////
// Max Width
///////////

$max_width     : 1800px;


///////////
// Content
///////////

$columns         : 16;
$column_w        : 100% / $columns;

$content_w       : 100vw - (4 * $gap);
$content_w--sm   : 100vw - (2 * $gap);

$content_max     : calc( #{$max_width} - #{(4 * $gap)} );

$content_h       : calc( 100vh - #{(2 * $gutter)} );


///////////
// CSS Root Variables
///////////

:root {
  --red       : #{$red};
  --blue      : #{$blue};
  --black     : #{$black};
  --grey      : #{$grey};  
  --white     : #{$white};
  --sky       : #{$sky};
  --max_width : #{$max_width};
  --massive   : #{$screen_xxl};
  --huge      : #{$screen_xl};
  --large     : #{$screen_lg};
  --medium    : #{$screen_md};
  --small     : #{$screen_sm};
  --base_font : #{$base_font_family};
  --margin    : #{$margin};
  --margin_sm : #{$margin_sm};
  --margin_lg : #{$margin_lg};
  --gutter    : #{$gutter};
  --gutter_lg : #{$gutter_lg};
  --gap       : #{$gap};
  --columns   : #{$columns}
}