body[class="about"] {
  
  #process {
    $tri_h: 4rem;
    $tri_w: 2.5rem;
    $pie_d: 10rem;
    $pie_r: 5rem;
    $yellow: #FFC108;
    $green: #5BD758;
    
    
    #discover .flow {
      background: linear-gradient(180deg, $red 50%, $green);
    }
    #design .flow {
      background: linear-gradient(180deg, $green 50%, $yellow);
    }
    #iterate .flow {
      background: linear-gradient(180deg, $yellow, $yellow);
    }
    #develop .flow {
      background: linear-gradient(180deg, $yellow 10%, $grey);
    }
    #deploy .flow {
      background: linear-gradient(180deg, $grey 10%, $blue);
      height: calc(100% + 4rem);
    }
    
    .chart:nth-of-type(2n) {
      display: flex;
      position: relative;
      min-height: 14rem;
      align-items: center;
    
      .notes {
        width: 50%;
        padding-right: 4rem; 
        text-align: right;
        
        &.show p {
          opacity: 1;
        }
        
        p {
          color: $grey;
          font-size: $typo_sparrow;
          opacity: 0;
          position: relative;
          transition: all $base_duration $base_motion;
          
          &:after {
            content: '';
            width: 1rem;
            height: 1px;
            background: $grey;
            display: block;
            position: absolute;
            right: -2rem;
            top: 50%;
          }
        }
        // Delay the Animations
        @for $i from 2 through 4 {
          p:nth-child(#{$i}n) {
            transition-delay: #{$i * .1}s;
          }
        }
      }
      .flow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        height: calc(100% + 1px);
        width: $margin * 2;
        background: $black;
        transform: translateX(-50%);
        left: 50%;
        
        .mask {
          height: 100%;
          position: absolute;
          width: 100%;
          background: $white;
          bottom: 0;
          transition: width linear;
          
          &:after {
            content: '';
            position: absolute;
            bottom: calc(100% + -1px);
            left: 0;
            width: 100%;
            height: 20%;
            background-image: linear-gradient(transparent, $white);
          }
        }
      }
    }
    .chart:nth-of-type(4n) {
      justify-content: flex-end;
      
      .notes {
        text-align: left;
        padding-right: 0;
        padding-left: 4rem; 
        
        p:after {
          left: -2rem;
          right: auto;
        }
      }
    }
  
    .section__bottom {
      z-index: 1;
      
      @media only screen and (max-width: $screen_sm) {
        z-index: 0;
      }
    }
    
    .pie {
      position: relative;
      display: block;
      height: $pie_d;
      width: $pie_d;
      left: $tri_h;
      border-radius: $pie_d;
      transform: rotate(90deg);
      opacity: 0;
    
      .triangle {
        position: absolute;
        width: $tri_h;
        height: $tri_w;
        background: $yellow;
        margin-top: $tri_w;
        margin-left: -1rem;
        clip-path: polygon(50% 0, 0% 100%, 100% 100%);
        transform: rotate(-180deg);
        transform-origin: bottom;
      }
      
      &-l,
      &-r {
        overflow: hidden;
        width: $pie_d;
        height: $pie_d;
        top:0 ;
        left: 0;
        position: absolute;
        
        .inner {
          content: "";
          position: absolute;
          width: $pie_d;
          height: $pie_d;
          border: 2rem solid;
          top: 0;
          left: 0;
          border-radius: $pie_d;
          transform: rotate(180deg);
        }
      }
    
      &-l {
        clip: rect(auto, #{$pie_r}, auto, auto);

        .inner {
          border-color: $yellow;
          clip: rect(auto, #{$pie_r}, auto, auto);
        }
      }
      &-r {
        clip: rect(auto, auto, auto, #{$pie_r});

        .inner {
          border-color: $yellow;
          clip: rect(auto, auto, auto, #{$pie_r});
        }
      }
    }
  }
  
}