body[class="services"] {
  
  #partners {
    .card {
      text-decoration: none;
      
      p {
        margin: 0;
      }
    }
  }
  
  #innovation-consulting {
    .images {
      position: relative;
    }
    .headings {
      position: absolute;
      top: 0;
      left: 0;
    }
    @media only screen and (max-width: $screen_lg) {
      .content {
        order: 2;
      }
      .images {
        order: 1;
      }
    }
  }
  
  #technical-mobile-solutions {
    .laptop__screen {
      position: absolute;
      width: 82%;
      background: $white;
      height: 77%;
      margin: 2% 9%;
      border-radius: $radius_sm;
      display: flex;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
      text-align: center;
      box-shadow: inset 0px 0px 6px transparentize($black, .8);
    }
  }
  
}