body[class="whitepapers"] {

  
  #whitepapers {
    .latest {
      position: relative;
      
      .i_shadow {
        right: 0;
        position: absolute;
      }
    }
  }
  
  #archive {
    .card__footer {
      color: $grey;
    }
  }
}