---
layout: default
---
<!-- #main -->
<main class="wrapper">
  <section id="article" class="section bg--white fade-e-below" data-title="{{ page.title }}">
    <div class="section__i"> 
      <div class="area w--16 g__b e">
        {% if page.collection == 'whitepaper' %}  
        <a href="{{ site.baseurl }}/whitepaper/"><i class="icon" data-icon="arrow_back"></i> Back to Whitepapers</a>
        {% else %}
        <a href="{{ site.baseurl }}/news/"><i class="icon" data-icon="arrow_back"></i> Back to News</a>
        {% endif %}
      </div>
      <div class="area w--10 g__b e"> 
        <h2 class="heading">{{ page.title }}</h2>
        {{ content }}
      </div>
    </div>
    {% include section__bottom.html %}
  </section>
</main>