///////////
// Button 
///////////

.button, button {
  text-decoration: none;
  outline: none;
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: $typo_sparrow;
  color: $black;
  border: 2px solid;
//  padding: $margin * .25 $margin * .65;
  padding: $padding_sm $padding_lg;
  border-radius: $radius_sm;
  font-weight: 600;
  margin-right: $margin;
  user-select: none;
  
  // Button Content
  span {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    z-index: 1;
    color: inherit;
    transition: color .25s ease;
  }
  
  // Button Background
  &:before {
    content: "";
    transform-origin: left center;
    transform: scale3d(0, 1, 1);
    transition: transform .25s ease;
    position: absolute;
    top: 0;
    right: -1px;
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    background-color: $black;
  }
  
  // Hover Effects
  &:hover,
  &:focus {
    color: $white;
    border-color: $black;
    
    &:before {
      transform: scale3d(1, 1, 1);
      transition-duration: .4;
      transition-timing-function: cubic-bezier(.5, 0, .5, 1);
    }
  }
}


///////////
// Button Colors
///////////

// Primary (Blue)
.button--primary {
  color: $blue; 
  
  &:before {
    background-color: $blue;
  }
  &:hover,
  &:focus {
    border-color: $blue;
  }
}
// Secondary (Red)
.button--secondary {
  color: $red; 
  
  &:before {
    background-color: $red;
  }
  &:hover,
  &:focus {
    border-color: $red;
  }
}
// Inverted (White)
.button--inverted {
  color: $white; 
  
  &:before {
    background-color: $white;
  }
  &:hover,
  &:focus {
    border-color: $white;
    color: $blue;
  }
}