///////////
// Card
///////////

.card {  
  display: flex;
  flex-direction: column;
  background: $white;
//  width: 100%;
  height: auto;
  margin: 0;
  padding: $margin_lg;
  box-shadow: 0 1px 4px transparentize($black, .85);
  border-radius: $radius_sm;
  color: $black;
  
  // Transparent
  &.t {
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    color: inherit;
  }
  // Centered
  &.centered {
    align-items: center;
    text-align: center;
    
    > * {
      max-width: 100%;
    }
  }
  // Padding Variations
  &.no--v__pad {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  &.no--h__pad {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  &.no--pad {
    padding: 0 !important;
  }
  // Content
  &__content {
    width: 100%;
  }
  // Footer
  &__footer {
    width: 100%;
    margin-top: auto;
  }
}