///////////
// Footer 
///////////

.footer {
  height: auto;
  width: 100%;
  position: relative;
  padding: $gutter 0;
  font-size: $typo_hummingbird;

  // Footer Inner
  &__i {
    position: relative;
    max-width: $content_max;
    width: $content_w;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
    @media only screen and (max-width: $screen_md) {
      width: $content_w--sm;
    }
  }
  
  // Footer Menu
  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: $margin_lg;
    
    .footer_title {
      margin-bottom: $margin_sm;
    }
    
    .footer_item {
      color: $grey;
      margin-bottom: $margin_sm;
      
      a {
        color: $grey;
      }
      a:hover {
        color: $black;
        &:before {background: transparentize($black, .8);}
      }
    }
    
  }
}

///////////
// Specific Menus
///////////

.footer__menu {
  
  // Logo
  &.logo {
    width: $column_w * 4;
    margin-right: $column_w * 2;
    
    @media only screen and (max-width: $screen_lg) {
      width: $column_w * 6;
      margin-right: $column_w * 2;
    }
    @media only screen and (max-width: $screen_md) {
      width: $column_w * 16;
      margin-right: 0;
    }
    
    .logo_full {
      margin-bottom: $margin;
    }
  }
  
  // Explore
  &.explore {
    width: $column_w * 2;
    margin-right: $column_w;
    
    @media only screen and (max-width: $screen_lg) {
      width: $column_w * 3;
    }
    @media only screen and (max-width: $screen_md) {
      width: $column_w * 6;
      margin-right: $column_w * 2;
    }
    @media only screen and (max-width: $screen_mi) {
      width: $column_w * 16;
      margin-right: 0;
    }
  }
  
  // Location
  &.location {
    width: $column_w * 3;
    margin-right: $column_w;
    
    @media only screen and (max-width: $screen_lg) {
      width: $column_w * 4;
      margin-right: 0;
    }
    @media only screen and (max-width: $screen_md) {
      width: $column_w * 8;
    }
    @media only screen and (max-width: $screen_mi) {
      width: $column_w * 16;
    }
    
    .other_locations {
      margin-top: $typo_hummingbird * $base_line_height;
    }
  }
  
  // Updates
  &.updates {
    width: $column_w * 2;
    margin-right: $column_w;
    
    @media only screen and (max-width: $screen_lg) {
      width: $column_w * 3;
      margin-left: $column_w * 8;
    }
    @media only screen and (max-width: $screen_md) {
      width: $column_w * 6;
      margin-right: $column_w * 2;
      margin-left: 0;
    }
    @media only screen and (max-width: $screen_mi) {
      width: $column_w * 16;
      margin-right: 0;
    }
  }
  
  // Contact
  &.contact {
    width: $column_w * 3;
    margin-right: $column_w;
    margin-left: $column_w * 9;
    
    @media only screen and (max-width: $screen_lg) {
      width: $column_w * 4;
      margin-left: 0;
      margin-right: 0;
    }
    @media only screen and (max-width: $screen_md) {
      width: $column_w * 8;
    }
    @media only screen and (max-width: $screen_mi) {
      width: $column_w * 16;
    }
  }
}

///////////
// Copyright Message
///////////

.footer .copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: $gutter $gap 0;
  margin: 0;

  .footer__menu {
    display: flex;
    margin-top: $margin_sm;
    margin-bottom: 0;
  }

  .footer_item:not(:first-child) {
    margin-bottom: 0;
    margin-left: $margin;
  }
}