.intro {
  position: relative;
  background: $white;
  max-width: $max_width;
  margin: 0 auto;
  
  &__inner {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 calc(var(--padding_horiz));
    position: relative;
    text-align: justify;
    padding: 25vh 0 15vh;
    min-height: 50vh;
    max-width: $max_width;
  }
  &__content {
    position: relative;
    z-index: 1;
    font-size: $typo_eagle;
    margin: 0 calc(3 * var(--repeating_width) );
    mix-blend-mode: luminosity;
  }
  .logo {
    position: absolute;
    width: 50vh;
    height: auto;
    z-index: 0;
    
    svg {
      position: absolute;
    }
    .clip {
      width: 100%;
      padding-bottom: 100%;
      background: linear-gradient(120deg, $red, $red, $blue, $red, $red);
      background-size: 1800% 1800%;
      animation: logoGradient 18s ease infinite;
      clip-path: url(#icLogo);
    }
  }
}

@keyframes logoGradient { 
  0% {
    background-position: 0% 0%
  }
  50% {
    background-position: 50% 50%
  }
  100% {
    background-position: 100% 100%
  }
}