// List Grid
.grid {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $margin_large * 3 var(--column_width);
  grid-column: 3 / 19;

  &__item {
    --color: var(--color_black);
    
    color: var(--color);
    display: block;
    position: relative;
  }
  &__content {
    margin: 0 auto;
  }
  &.centered {
    text-align: center;
  }
}

.grid_left {
  grid-column: 3 / 11;
}
.grid_right {
  grid-column: 11 / 19;
}
.grid_main {
  grid-column: main-start / main-end;
}
.grid_full {
  grid-column: full-start / full-end;
}


// Item Colors
.grid__item--red {
  --color: var(--color_red);
}
.grid__item--white {
  --color: var(--color_white);
}
.grid__item--blue {
  --color: var(--color_blue);
}