// Main Navigation
.main_navigation {
  position: fixed;
  display: flex;
  width: 100%;
  height: auto;
  z-index: 1000;
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;

  
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: var(--page_gutter, $margin) var(--page_gutter, $margin) 0 var(--page_gutter, $margin);
  }
  .logo {
    height: 40px;
    margin-right: $margin;
    
    #innoLogo {
      transition: all $base_motion $base_duration;
    }
  }
  .logo a {
    display: inline-flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
  }
//  .logo .logoName {
//    color: var(--color_white);
//    font-size: 2.2rem;
//    font-weight: bold;
//    margin-left: $margin;
//    line-height: 1;
//    margin-top: .1em;
//    letter-spacing: .01em;
//  }
 }

// Initialize Nav
.main_navigation.ready {
  .logo #innoLogo {
    fill: $red;
  }
  .menu__item a {
    background: transparentize($white, .05);
    color: var(--color_black);
    
    &.active {
      color: var(--color_red);
      background: var(--color_white);
    }
  }
  .pagename_vertical {
    opacity: 1;
  }
}

// Menus
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 1 auto;
  line-height: 1;

  // Menu Items
  &__item a {
    display: block;
    margin: 0 $padding_small;
    padding: $padding_small $padding_large;
    background: transparent;
    color: var(--color_white);
    border-radius: $radius;
    font-size: $typo_sparrow;
    font-weight: normal;
    letter-spacing: .01em;
    text-decoration: none;
    transition: all $base_motion $base_duration;

    &:hover {
      background: var(--color_white);
      box-shadow: 0 1px 8px transparentize($black, .8);
      color: var(--color_red);
    }
    &.active {
      color: var(--color_white);
      background: transparentize($white, .9);

      &:hover {
        background: var(--color_white);
        color: var(--color_red);
      }
    }
  }
}

// Right Menu
.menu--right {
  flex: 0 1 auto;
  color: $white;

  .menu__item a {
    padding: $padding_small;
    text-transform: uppercase;
  }
}



// Page Name
.pagename_vertical {
  position: absolute;
  top: 90vh;
  width: 80vh;
  left: calc(var(--page_gutter));
  transform: rotate(-90deg);
  transform-origin: 0 0;
  height: 43px;
  line-height: 43px;
  overflow: hidden;
  font-weight: bold;
  letter-spacing: .01em;
  font-size: $typo_sparrow;
  color: var(--color_red);
  opacity: 0;
  transition: all $base_motion $base_duration;
  
  div {
    position: absolute;
    transform: translateY(100%);
    animation: moveFade;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: both;
  }
  // Delay the Animations
  @for $i from 2 through 4 {
    div:nth-child(#{$i}n) {
      animation-delay: #{$i * 2.5}s;
    }
  }
}

@keyframes moveFade {
  0% {
    transform: translateY(100%);
    opacity: 1;
  }
  5% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  55% {
    transform: translateY(-100%);
    opacity: 1;
  }
  70% {
    transform: translateY(-100%);
    opacity: 0;
  }
  90% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}
