///////////
// Masthead
///////////

.masthead {
  position: relative;
  height: 100vh;
  min-height: 800px;
  width: 100% !important;
  overflow: hidden;
  background: $white;
  
  @media only screen and (max-width: $screen_md) {
    min-height: 0;
    height: auto;
    padding-top: 126px;
    padding-bottom: 10vh;
  }
  
  // Masthead Panel
  &__panel {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    user-select: none;
    
    @media only screen and (max-width: $screen_md) {
      position: relative;
      height: auto;
    }
  }
  
  // Masthead Container
  &__container {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    
    @media only screen and (max-width: $screen_md) {
      position: relative;
    }
  }
  
  // Masthead Line
  &__line {
    height: auto;
    max-width: $content_max;
    width: $content_w;
    margin: 0 auto !important;
    
    @media only screen and (max-width: $screen_md) {
      width: $content_w--sm;
    }
    
    .word {
      display: inline-block;
      opacity: 0;
    }
    .char {
      position: relative;
      display: inline-block;
      opacity: 0;
    }
  }
  
  // Masthead Link
  .link {
    position: absolute;
    bottom: 10vh;
    right: 10vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: $blue;
    font-weight: bold;
    text-decoration: none;
    opacity: 0;
    user-select: none;
    transform: translateX(-20px);

    @media only screen and (max-width: $screen_md) {
      position: relative;
      bottom: 0;
      right: 0;
      width: $content_w--sm;
      margin: $gutter auto 0 auto;
    }
    
    &.load {
      transform: translateX(0);
      opacity: 1;
    }     
    a {
      margin-right: 0;
    }
    span {
      flex-direction: row;
    }
    a:before {
      transform-origin: left bottom;
      transform: scale3d(0, 1, 1);
    }
    a:hover:before {
      transform: scale3d(1, 1, 1);
    }
    .icon {
      line-height: 1;
      padding-bottom: 0 !important;
      margin-left: $margin_sm;
    }
  }
}


///////////
// Bottom Panel
///////////

.masthead__panel--bottom {
  position: absolute;
  
  .masthead__line {
    transform: translate(-.4vw, .5vw);
  }
  .word {
    color: transparentize($grey, .8);

    .char {
      color: transparentize($grey, .8);
    }
  }
  .word.load {
    
    .char {
      opacity: 0;
      animation: dS 1s cubic-bezier(.5, 0, .5, 1) both;
      animation-delay: calc(10ms * var(--word-index));
    }
    @keyframes dS {
      0% {
        opacity: 0;
        transform: translateY(-.5rem);
      }
      50% {
        opacity: 0;
        transform: translateY(-.5rem);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  .word.high {

    &[data-word="design"],
    &[data-word="develop"],
    &[data-word="succeed."] {
      color: $blue;
      
      .char {
        color: $blue;
      } 
    }
  }
}


///////////
// Top Panel
///////////

.masthead__panel--top {
  
  .word {
    
    .char {
      color: $white;
      text-shadow: -1px -1px 0 transparentize($grey, .8), 1px -1px 0 transparentize($grey, .8), -1px 1px 0 transparentize($grey, .8), 1px 1px 0 transparentize($grey, .8);
    }
  }
  .word.load {
    
    .char {
      opacity: 0;
      animation: fade 1s cubic-bezier(.5, 0, .5, 1) both;
      animation-delay: calc(10ms * var(--word-index));
    }
    @keyframes fade {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }   
}