///////////
// Masthead
///////////

.masthead {
  position: relative;
  height: 100vh;
  min-height: 800px;
  width: 100% !important;
  overflow: hidden;
  background: $white;
  
  @media only screen and (max-width: $screen_md) {
    min-height: 0;
    height: auto;
    padding-top: 126px;
    padding-bottom: 10vh;
  }
  
  // Masthead Panel
  &__panel {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    user-select: none;
    
    @media only screen and (max-width: $screen_md) {
      position: relative;
      height: auto;
    }
  }
  
  // Masthead Container
  &__container {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    @media only screen and (max-width: $screen_md) {
      position: relative;
    }
  }
  
  // Masthead Line (Word/Char)
  &__line {
    height: auto;
    max-width: $content_max;
    width: $content_w;
    
    @media only screen and (max-width: $screen_md) {
      width: $content_w--sm;
    }
    
    .word {
      display: inline-block;
    }
    .char {
      position: relative;
      display: inline-block;
      opacity: 0;
    }
  }
  
  // Subline Line
  &__subline {
    height: auto;
    max-width: $content_max;
    width: $content_w;
    padding-right: 40vw;
    color: $black;
    font-weight: normal;
    opacity: 0;
    
    @media only screen and (max-width: $screen_xxl) {
      padding-right: 35vw;
    }
    @media only screen and (max-width: $screen_xl) {
      padding-right: 20vw;
    }
    @media only screen and (max-width: $screen_lg) {
      padding-right: 0;
    }
    @media only screen and (max-width: $screen_md) {
      width: $content_w--sm;
    }
  }
  
  // Masthead Link
  .link {
    position: absolute;
    bottom: 10vh;
    right: 10vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    text-decoration: none;
    opacity: 0;
    user-select: none;
    transform: translateX(-20px);

    @media only screen and (max-width: $screen_md) {
      position: relative;
      bottom: 0;
      right: 0;
      width: $content_w--sm;
      margin: $gutter auto 0 auto;
    }
    
    &.load {
      transform: translateX(0);
      opacity: 1;
    }     
    a {
      margin-right: 0;
    }
    span {
      flex-direction: row;
    }
    a:before {
      transform-origin: left bottom;
      transform: scale3d(0, 1, 1);
    }
    a:hover:before {
      transform: scale3d(1, 1, 1);
    }
    .icon {
      line-height: 1;
      padding-bottom: 0 !important;
      margin-left: $margin_sm;
    }
  }
}


///////////
// Bottom Panel
///////////

.masthead__panel--bottom {
  position: absolute;
  opacity: 0;
  color: transparentize($grey, .8);
  
  .word.load .char {
    opacity: 0;
    animation: dS 1s cubic-bezier(.5, 0, .5, 1) both;
    animation-delay: calc(10ms * var(--word-index));
  }
}


///////////
// Top Panel
///////////

.masthead__panel--top {
  color: $white;
  opacity: 0;
  
  .char {
    text-shadow: -1px -1px 0 transparentize($grey, .8), 1px -1px 0 transparentize($grey, .8), -1px 1px 0 transparentize($grey, .8), 1px 1px 0 transparentize($grey, .8);
  }
  .word.load .char {
    opacity: 0;
    animation: fade 1s cubic-bezier(.5, 0, .5, 1) both;
    animation-delay: calc(10ms * var(--word-index));
  }
}


///////////
// Animations
///////////

@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dS {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  50% {
    opacity: 0;
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    transform: translate(-.4vw, .5vw);
  }
}