///////////
// Progress Bar
///////////

.progress {
  width: 100vw;
  height: 2px;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  background: transparentize($grey, .8);
  
  @media only screen and (max-width: $screen_md) {
    transition: transform .4s;
    
    &.invisible {
      transform: translateY(0);
      transition: transform .3s;
    }
  }
  
  // Indicator
  
  &__indicate {
    max-width: 100%;
    position: absolute;
    top: 0;
    background: $red;
    padding: 0 $margin_sm;
    height: 100%;
    transition: width linear;
  }
}


///////////
// Page Name
///////////

.pagename {
  position: fixed;
  top: 10vh;
  width: 2rem;
  left: $gap / 2;
  height: 80vh;
  overflow: hidden;
  font-weight: bold;
  letter-spacing: .01em;
  font-size: $typo_sparrow;
  color: $red;
  opacity: 1;
  z-index: 1000;
  transition: all $base_motion $base_duration;
  
  @media only screen and (max-width: $screen_lg) {
    display: none;
  }
  
  // Inner Titles
  div {
    width: 50vh;
    height: 2rem;
    line-height: 2rem;
    left: 0;
    bottom: 0;
    position: absolute;
    transform: rotate(-90deg) translateY(100%);
    transition: transform $base_duration $base_motion;
    transform-origin: 1rem 1rem;
    -webkit-transform-origin: 1rem 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  div.active {
    transform: rotate(-90deg) translateY(0);
  }
}


///////////
// Prevent Scrolling
///////////

html.no_scroll {
  @media only screen and (max-width: $screen_md) {
    overflow: hidden;  
  }
}


///////////
// Nav Bar
///////////

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  right: 0;
  z-index: 1000;
  overflow: hidden;
  transform: translate(0,0);
  border-bottom: 1px solid #f9f9f9;
  transition: all $base_duration $base_motion;
  animation: firstFadeInAndDrop $base_duration;
  
  @media only screen and (max-width: $screen_md) {
    transition: transform .4s, background .2s .3s, padding .3s 0s;
    animation: none;
    overflow: hidden;
  }
  
  //  When Scrolling apply invisibility
  &.invisible {
    transition: transform .3s;
    transform: translateY(-148px);
    
    @media only screen and (max-width: $screen_md) {
      transform: translateY(-72px);
    }
  }
  
  // On load fade in the menu
  @keyframes firstFadeInAndDrop {
    0%   {
      opacity: 0;
      transform: translate(0,-100%);
    }
    25% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translate(0,0);
    }
  }
}


///////////
// Main Navigation
///////////

.main_navigation {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: $margin_lg $gap;
  background: $white;
  
  @media only screen and (max-width: $screen_md) {
    padding: $margin $gap;
    background: $white;
    top: 2px;
  }
  
  // Logo
  .logo {
    height: 40px;
    margin-right: $margin;
    pointer-events: auto;
    
    a {
      display: inline-flex;
      align-items: center;
      height: 100%;
      text-decoration: none;
    }
    
    #innoLogo {
      fill: $red;
      transition: all $base_motion $base_duration;
      
//      @media only screen and (max-width: $screen_md) {
//        fill: $red;
//      }
    }
  }

  // Mobile Menu
  .mobileTrigger {
    height: 40px;
    position: relative;
    cursor: pointer;
    margin-left: $margin_lg;
    display: none;
    
    @media only screen and (max-width: $screen_md) {
      display: block;
    }
    
    &__top,
    &__bottom {
      height: 4px;
      width: 36px;
      background: $white;
      margin: 11px 0;
      transition: $base_duration $base_motion;
      
      @media only screen and (max-width: $screen_md) {
        background: $black;
      }
    }
    
    // Mobile Menu Hover & Active
    &:hover {
      .mobileTrigger__top {
        transform: translateY(2px);
      }
      .mobileTrigger__bottom {
        transform: translateY(-2px);
      }
      
      @media only screen and (max-width: $screen_md) {
        .mobileTrigger__top {
          background: $red;
        }
        .mobileTrigger__bottom {
          background: $blue;
        }
      }
    }
  }

  // Default Nav Theme
//  &.default {
//
//    .logo #innoLogo {
//      fill: $red;
//    }
//    .menu__item {
//      background: transparentize($white, .05);
//      color: $black;
//
//      &.active {
//        color: $red;
//        background: $white;
//      }
//    }
//  }

  // Menus
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 auto;
    line-height: 1;

    // Menu Items
    &__item {
      display: block;
      margin: 0 $padding_sm;
      padding: $padding_sm $padding_lg;
//      background: transparent;
//      color: $white;
      background: transparentize($white, .05);
      color: $black;
      border-radius: $radius;
      font-size: $typo_sparrow;
      font-weight: normal;
      letter-spacing: .01em;
      text-decoration: none;
      pointer-events: auto;
      transition: color $base_motion $base_duration, background $base_motion $base_duration;
      
      a {
        color: inherit;
        text-decoration: none;
      }
      
      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background: $white;
        box-shadow: 0 1px 8px transparentize($black, .8);
        color: $red;
      }
      &.active {
//        color: $white;
//        background: transparentize($white, .9);
        color: $red;
        background: $white;

        &:hover {
          background: $white;
          color: $red;
        }
      }
    }
  }

  // Menu Areas
  .menu--right {
    flex: 0 1 auto;
    color: $white;
    
    .menu__item {
      padding: $padding_sm;
      text-transform: uppercase;
    }
    
    // Mobile styles
    @media only screen and (max-width: $screen_md) {
      flex: 1 1 auto;
      justify-content: center;
      opacity: 0;
      visibility: hidden;
      
      .menu__item {
        background: $white;
        color: $black;
        
        &:hover {
          background: $white;
          box-shadow: none;
          color: $red;
        }
        &.active {
          color: $white;
          background: $red;

          &:hover {
            background: $white;
            color: $red;
          }
        }
      }
    }
  }
  .menu--left {
    @media only screen and (max-width: $screen_md) {
      display: none;
    }
  }
}


///////////
// Expanded Nav (Mobile)
///////////

@media only screen and (min-width: $screen_md + 1px) {
  nav .mobile_navigation {
    display: none !important; // Prevent mobile nav appearing on large screens
  }
}
@media only screen and (max-width: $screen_md) {
  nav.expanded {
    background: $white;
    padding: $gap 0;
    height: 100vh;
    overflow-y: scroll;
    z-index: 1001;
    transition: transform .4s, background .2s, padding .3s .2s;

    // Mobile Menu Active
    .mobileTrigger {
      &:hover {
      }
      &__top {
        transform-origin: 28px;
        transform: rotate(-45deg) !important;
        background: $red !important;
      }
      &__bottom {
        transform: rotate(45deg) !important;
        transform-origin: 28px;
        background: $blue !important;
      }
    }

    .mobile_navigation {
      opacity: 1;
      height: auto;
      visibility: visible;
      transition: opacity .4s .5s;
    }
    .main_navigation {
      flex-wrap: wrap;
    }
    .menu--right {
      opacity: 1;
      visibility: visible;
      transition: opacity .4s .5s;
      padding-top: $margin_lg;
      margin-top: $margin_lg;
      border-top: 1px solid transparentize($grey, .8);
      flex: 1 1 100%;
      justify-content: flex-start;
      order: 3;
    }
  }    
}


///////////
// Mobile Navigation
///////////

.mobile_navigation {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s 0s;
  
  ul {
    padding: $margin_lg $gap;
    margin: 0;
    list-style: none;
    
    li {
      margin-bottom: $margin;
    }
    li.active {
      a {
        color: $red;
      }
    }
    a {
      color: inherit;
      text-decoration: none;
      transition: all $base_duration $base_motion;
      
      &:hover {
        color: $red;
      }
    }
  }
}